@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>


<p>
    <strong>Status Code:</strong> @Model.StatusCode
    <br />
    <strong>Message:</strong> @Model.Message
</p>

